@{
    ViewData["Title"] = "About";
    ViewData["Nama"] = "Ihsan Miftahul Huda";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <img src="" alt="">
    <div class="card-body">
        <h5 class="card-body">@ViewData["Nama"]</h5>
        <p class="card-text">
            @ViewData["Title"]
        </p>
    </div>
</div>